{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="card p-4 shadow-lg">
        <h3 class="text-center">تفاصيل الطلب </h3>
        <div class="table-responsive card mt-4 p-4 shadow-lg">
            <h4>المنتجات المضافة</h4>
            <hr>
            <table class="table table-striped text-center align-middle" id="order-items-table">
                <thead class="table-dark">
                    <tr>
                        <th>اسم المنتج</th>
                        <th>السعر</th>
                        <th>الكمية</th>
                        <th>مدة الصلاحية</th>
                        <th>السعر الكلي</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.expiry_period }} يوم</td>
                        <td>{{ item.total_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                
                {% if request.user.is_staff %}
                    <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">رجوع</a>
                {% else %}
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">رجوع</a>
                {% endif %}
                    
                <button onclick="showForm()" class="btn btn-success mt-2 mb-2">إضافة المنتج</button>
            </div>
        </div>
        <div id="add-form" class="card p-4 shadow-lg" style="display: none;">
            <div class="col-md-6">
                <form id="item-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_product_name">اختر المنتج</label>
                        <select name="product_name" id="id_product_name" class="form-control">
                            {% for product in products %}
                                <option value="{{ product.id }}" data-price="{{ product.selling_price }}" data-expiry="{{ product.expiry_period }}">{{ product.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_price">السعر</label>
                        <input type="text" name="price" id="id_price" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="id_expiry_period">مدة الصلاحية (بالايام)</label>
                        <input type="text" name="expiry_period" id="id_expiry_period" class="form-control" readonly>
                    </div>
                    <label> الكميه</label>
                    {{ item_form.quantity }}
                    {% if order %}
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                    {% endif %}
                    <button type="submit" class="btn btn-success mt-2 mb-2">إضافة</button>
                    <button type="button" class="btn btn-danger" onclick="hideForm()">إلغاء</button>
                </form>
            </div>
            {% comment %} <div class="col-md-6">
                <form id="order-form" method="post">
                    {% csrf_token %}
                    {{ order_form.as_p }}
                </form>
            </div> {% endcomment %}
        </div>
    </div>
</div>

<script>
    document.getElementById('id_product_name').addEventListener('change', function() {
        const selectedOption = this.options[this.selectedIndex];
        document.getElementById('id_price').value = selectedOption.dataset.price;
        document.getElementById('id_expiry_period').value = selectedOption.dataset.expiry;
    });

    document.getElementById('item-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch(window.location.href, {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('order-items-table').querySelector('tbody');
            tableBody.innerHTML = '';

            data.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${item.product_name}</td>
                    <td>${item.price}</td>
                    <td>${item.quantity}</td>
                    <td>${item.total_price}</td>
                    
                `;
                tableBody.appendChild(row);
            });
            // تنظيف نموذج المنتج
            document.getElementById('item-form').reset();
        });
    });

    function showForm() {
        document.getElementById("add-form").style.display = "block";
    }

    function hideForm() {
        document.getElementById("add-form").style.display = "none";
    }
</script>
{% endblock %}