{% extends 'base.html' %}
{% block content %}
<div class="table-responsive card mt-4 p-4 shadow-lg">
    <div class="row">
        <h4 class="">قائمة الطلبات</h4>
    </div>
    <hr>
    {% if orders %}
    <table class="table table-striped text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>رقم الطلب</th>
                <th>إسم الاسرة </th>
                <th>التاريخ</th>
                <th>المبلغ الإجمالي</th>
                <th>إجراء</th>
            </tr>
        </thead>
        <tbody id="formset-container">
            {% for order in orders %}
            <tr class="order-item-form">
                <td>{{forloop.counter }}</td>
                <td>{{ order.supplier.company_name }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.total_price }} ريال </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-white btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'order_detail' order.id %}" class="btn btn-info btn-sm">
                                    <i class="bi bi-eye"></i> عرض
                                </a>                           
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'edit_order' order.id %}">
                                    <i class="bi bi-pencil-fill me-1"></i> تعديل
                                </a>
                            </li>
                        </ul>
                    </div>                                                                               
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">رجوع</a>
    </div>
    {% else %}
    <p class="text-muted">لا يوجد أي طلبات بعد.</p>
    {% endif %}
</div>
{% endblock %}