{% extends "base.html" %}
{% block content %}
<style>
    .enlarged-image {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        z-index: 1000;
        cursor: pointer;
    }
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* خلفية معتمة */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        cursor: pointer;
    }
    
    .popup-image {
        max-width: 90%;
        max-height: 90%;
    }
</style>
<div class="container-fluid mt-5">
    <div class="card p-4 shadow-lg">
        <h3 class="text-center">  إضافة مرتجع للفاتوره : {{ invoice.invoice_number }}</h3>
        <div class="table-responsive card mt-4 p-4 shadow-lg">
            <h4>المنتجات المرتجعه</h4>
            <table class="table table-striped text-center align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>اسم المنتج</th>
                        <th>الرجيع</th>
                        <th>السعر للوحدة</th>
                        <th>إجمالي السعر</th>
                        <th>الصوره</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in returns %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.expired_quantity }}</td>
                        <td>{{ item.unit_price }}</td>
                        <td>{{ item.total_price }}</td>
                        <td>
                            {% if item.image %}
                            <img class="product-image" src="{{ item.image.url }}" width="50">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" onclick="showForm()">إضافة مرتجع</button>
                <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">رجوع</a>    
                
            </div>
            <div id="return-form" style="display: none;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">إرجاع</button>
                    <button type="button" class="btn btn-danger" onclick="hideForm()">إلغاء</button>
                </form>
            </div>
    </div>

</div>
<script>
    // تحديد جميع عناصر الصور
    const images = document.querySelectorAll('.product-image');

    // إضافة معالج حدث النقر لكل صورة
    images.forEach(image => {
    image.addEventListener('click', () => {
        // استدعاء دالة لعرض الصورة
        showImage(image.src); 
    });
    });
    function showImage(imageUrl) {
        // إنشاء عنصر النافذة المنبثقة
        const popup = document.createElement('div');
        popup.classList.add('popup');
        
            // إنشاء عنصر الصورة داخل النافذة المنبثقة
            const enlargedImage = document.createElement('img');
            enlargedImage.src = imageUrl;
            enlargedImage.classList.add('popup-image');
        
            // إضافة الصورة إلى النافذة المنبثقة
            popup.appendChild(enlargedImage);
        
            // إضافة النافذة المنبثقة إلى الجسم (body)
            document.body.appendChild(popup);
        
            // إضافة معالج حدث النقر لإزالة النافذة المنبثقة
            popup.addEventListener('click', () => {
            popup.remove();
            });
        }
    function showForm() {
        document.getElementById("return-form").style.display = "block";
    }
    
    function hideForm() {
        document.getElementById("return-form").style.display = "none";
    }
</script>
{% endblock %}
